<?xml version="1.0"?>
<config>
  <modules>
    <Zaheer_Smsandvoucher>
      <version>1.0.0</version>
    </Zaheer_Smsandvoucher>
  </modules>
  <global>
    <helpers>
      <smsandvoucher>
        <class>Zaheer_Smsandvoucher_Helper</class>
      </smsandvoucher>
    </helpers>
	<blocks>
	  <smsandvoucher>
		<class>Zaheer_Smsandvoucher_Block</class>
	  </smsandvoucher>
	</blocks>
	<models>
	  <smsandvoucher>
		<class>Zaheer_Smsandvoucher_Model</class>
		<resourceModel>smsandvoucher_mysql4</resourceModel>
	  </smsandvoucher>
	  <smsandvoucher_mysql4>
		<class>Zaheer_Smsandvoucher_Model_Mysql4</class>
		<entities>
			  <resultdata>
				<table>resultdata</table>
			  </resultdata>
		</entities>
	  </smsandvoucher_mysql4>
	</models>
	<resources>
	  <smsandvoucher_setup>
		<setup>
		  <module>Zaheer_Smsandvoucher</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </smsandvoucher_setup>
	  <smsandvoucher_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </smsandvoucher_write>
	  <smsandvoucher_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </smsandvoucher_read>
	</resources>
	<events>
		<sales_order_shipment_save_after>
            <observers>
                <zaheer_shipmentemail_sales_order_shipment_save_after>
                    <type>singleton</type>
                    <class>Zaheer_Smsandvoucher_Model_Observer</class>
                    <method>generateVoucherAndSendSMS</method>
                </zaheer_shipmentemail_sales_order_shipment_save_after>
            </observers>
        </sales_order_shipment_save_after>
	</events>
  </global>
  <admin>
	<routers>
	  <smsandvoucher>
	    <use>admin</use>
		<args>
		  <module>Zaheer_Smsandvoucher</module>
		  <frontName>admin_smsandvoucher</frontName>
		</args>
	  </smsandvoucher>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <smsandvoucher module="smsandvoucher">
		<title>Smsandvoucher</title>
		<sort_order>100</sort_order>
		<children>
		  <resultdata module="smsandvoucher">
		    <title>Show Report</title>
			<sort_order>0</sort_order>
			<action>admin_smsandvoucher/adminhtml_resultdata</action>
		  </resultdata>
		</children>
	  </smsandvoucher>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<smsandvoucher translate="title" module="smsandvoucher">
			  <title>Smsandvoucher</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <resultdata translate="title">
			<title>Manage Resultdata</title>
			<sort_order>0</sort_order>
		  </resultdata>
			  </children>
			</smsandvoucher>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<smsandvoucher>
		  <file>smsandvoucher.xml</file>
		</smsandvoucher>
	  </updates>
	</layout>
  </adminhtml>
</config> 