<?xml version="1.0"?>
<config>
	  <tabs>
		<zaheertab translate="label" module="smsandvoucher">
            <label>SMS and Voucher Configuration</label>
            <sort_order>0</sort_order>
        </zaheertab>
	  </tabs>
	  <sections>
		<zaheersection  translate="label" module="smsandvoucher">
		<label>SMS and Voucher Configuration</label>
		<tab>zaheertab</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>
					<groups>
				      <smsgroup translate="label"> 
					  <label>SMS Configuration</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <smsuser translate="label">
                            <label>Username</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Please generate and use from here https://smscenter.gr/</comment>
                          </smsuser>
                          <smspass translate="label">
                            <label>Password</label>
							<frontend_type>password</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </smspass>
					   </fields>
					   </smsgroup>
					   <vouchergroup translate="label"> 
					  <label>Voucher Generate Configuration</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <voucheruser translate="label">
                            <label>Username</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Please generate and use from here https://www.taxydromiki.com/</comment>
                          </voucheruser>
                          <voucherpass translate="label">
                            <label>Password</label>
							<frontend_type>password</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </voucherpass>
                          <voucherappkey translate="label">
                            <label>App Key</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </voucherappkey>
					   </fields>
					   </vouchergroup>
					</groups>
		</zaheersection>
	  </sections>
</config>
